* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
header,
footer,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

body {
	position: relative;
	font-family: 'PT sans', sans-serif;
	padding: 100px 0px 0px 0px;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: #000;
	color: #fff;
}

.footer {
	width: 100%;
	background-color: #000;
	color: #fff;
}

.main {
	flex: 1 1 auto;
	background: #4239bb;
}

.container {
	max-width: 1000px;
	padding: 0px 15px;
	margin: 0px auto;
}

@media (max-width: 1000px) {
	.container {
		max-width: 970px;
	}
}

@media (max-width: 992px) {
	.container {
		max-width: 750px;
	}
}

@media (max-width: 767px) {
	.container {
		max-width: none;
	}
}

@media (max-width: 317px) {
	.container {
		max-width: none;
	}
	
	.footer__email {
		margin: 0px 0px 10px;
	}
}

a {
	text-decoration: none;
	position: relative;
}

.header a:link,
.header a:active,
.header a:visited,
.footer a:link,
.footer a:active,
.footer a:visited {
	color: #fff;
}

.main a:link,
.main a:active,
.main a:visited {
	color: #000;
}

a:before {
	content: '';
	bottom: 0px;
	right: 0px;
	position: absolute;
	width: 0%;
	height: 2px;
	background-color: #fff;
	transition: 0.3s;
	border-radius: 1px;
	overflow: hidden;
}

.main a:before {
	background-color: #000;
}

a:hover:before {
	width: 100%;
	left: 0px;
}

.header__title {
	display: flex;
	justify-content: center;
	padding: 34px;
	text-align: center;
}

.page-links__container {
	margin: 40px auto 20px;
	text-align: center;
}

.page-links__column {
	display: inline-block;
	margin: 0px 15px;
}

.page-links__link {
	display: block;
	max-width: 300px;
	padding: 30px;
	border-radius: 30px;
	overflow: hidden;
	margin: 0px 0px 30px 0px;
	background: #fff;
	transition: 0.3s all;
	box-shadow: 0px 5px 10px 10px rgba(0, 0, 0, 0.2);
}

.page-links__link:hover {
	box-shadow: 0px 15px 10px 10px rgba(0, 0, 0, 0.2);
	transform: scale(1) translate(0px, -5px);
	position: relative;
	z-index: 0;
}

.page-links__link:hover:before {
	width: 0 !important;
}

.page-links__page-name {
	margin: 0px auto 20px;
	text-align: center;
}

.footer__contacts {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font-size: 18px;
	padding: 41px 0px;
}

.footer__email {
	display: inline-block;
}